header{
  display: block;
  width: 100%;
  height: 150px;
  position: relative;
  background-color: cadetblue
}

header.logo img{
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: traslate(-50%);
  transform: translateY((-50%))
}