  <div class="contact-us-container">
  <h1 class="text-center">
    Contact us
  </h1>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form #mForm="ngForm" (submit)="onSubmit(mForm)">
        <div class="form-group contact-input">
          <i class="fa fa-user"></i>
          <input type="text" placeholder="Enter Your Name" #name="ngModel" class="form-control" [(ngModel)]="contactUs.name" name="name" required/>
          <p *ngIf="mForm.submitted && name.hasError('required')" class="invalid-data">Name is required</p>
        </div>
      
        <div class="form-group  contact-input">
          <i class="fa fa-envelope"></i>
          <input type="email" placeholder="Enter Your Email" #email="ngModel" class="form-control" [(ngModel)]="contactUs.email" name="email" required/>
          <p *ngIf="mForm.submitted && email.hasError('required')" class="invalid-data">Email is required</p>
        </div>
      
        <div class="form-group contact-input">
          <i class="fa fa-phone"></i>
          <input type="text" placeholder="Enter Your Mobile Number" #mobile="ngModel" class="form-control" [(ngModel)]="contactUs.mobile" name="mobile" required/>
          <p *ngIf="mForm.submitted && mobile.hasError('required')" class="invalid-data">Mobile Number is required</p>
        </div>
      
        <div class="form-group contact-input">
            <textarea placeholder="Message" #content="ngModel" class="form-control" [(ngModel)]="contactUs.content" name="content" required rows="10"></textarea>
          <p *ngIf="mForm.submitted && content.hasError('required')" class="invalid-data">Content is required</p>
        </div>
      
        <input class="col-sm-3 btn btn-primary" type="submit" value="submit"/>
        </form>    
    </div>
  </div>
</div>