.invalid-data {
    margin-top: 20px;
    color: #F00
}
.contact-us-container {
    background-color: #f9f3f7;
    padding: 50px;
}
input {
    height: 45px;
}
.contact-input {
    position: relative;
}
.contact-input i {
    position: absolute;
    top: 16px;
    font-size: 31px;
    left: 2px;
    color: #999;
    border-right: 1px solid #DDD;
    padding-right: 11px;
    display: block;
    margin-top: -15px;
    height: 45px;
    line-height: 45px;
    background-color: #DDD;
    padding-left: 11px;
    max-width: 46px;
    text-align: center;
}
.contact-input input {
    padding-left: 55px;
}