nav {
    display: block;
    width: 100%;
    line-height: 0;
    margin:0 auto;
    padding: 0;
    background: #010000;
    color: #fff;
    font-size: 0
  }
  ul {
    margin: 0;
    padding:0
  }
 li{
    display: inline;
    margin:0 5%
  }
  
  a{
    display: block;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    padding: 15px 20px
  }
  a,
  a:hover{
    background-color: #fff
  }