<!--The content below is only a placeholder and can be replaced.-->
<header style="margin-top: -2rem;">
    <nav class="navbar sticky-top navbar-expand-md navbar-dark fixed-top bg-dark" style="margin-top:-2rem; height:8rem; margin:0 0 0 0">
      <a class="navbar-brand" style="font-size :22px" href="#">Darjee</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="userId">
            <a style="cursor: pointer" class="nav-link"  (click)="logOut()">Log Out</a>
          </li>
          <li class="nav-item" *ngIf="!userId">
              <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="/contactUs">Contact us</a>
          </li>
        </ul>
        
      </div>
    </nav>
</header>

  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
<!-- main app container -->

<app-alert></app-alert>

<router-outlet></router-outlet>
