<h1 *ngIf="!isVerified">Registration Verification</h1>
<a *ngIf="!isVerified" role="button" (click)="verify()" >Click to verify</a>
<h1 *ngIf="isVerified">Registration Verified Successfully</h1>
<span *ngIf="isVerified">You are now ready to </span><a *ngIf="isVerified" href="/login">log in</a>
