<div class="container">
  <h1 class="text-center">Customize your booking</h1>
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">Booking Details</div>
        <div class="panel-body">
          <div><span>Name: </span>{{booking.name}}</div>
          <div><span>Date: </span>{{booking.date | date:'dd-MM-yyyy HH:mm'}}</div>
        </div>
      </div>
      <a routerLink="/checkout" class="btn btn-success">Go To Checkout Page</a>
    </div>
  </div>
</div>