<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <div class="form-header">
            <h1>Book Now</h1>
          </div>
          <form #mForm="ngForm" (submit)="onSubmit(mForm)">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Name</span>
                  <input class="form-control" type="text" #name="ngModel" [(ngModel)]="booking.name" name="name" required placeholder="Enter your name">
                  <p *ngIf="mForm.submitted && name.hasError('required')" class="invalid-data">Name is required</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Email</span>
                  <input class="form-control" required type="email" #email="ngModel" [(ngModel)]="booking.email" name="email" placeholder="Enter your email">
                  <p *ngIf="mForm.submitted && email.hasError('required')" class="invalid-data">Email is required</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <span class="form-label">Mobile</span>
              <input class="form-control" type="tel" required #mobile="ngModel" [(ngModel)]="booking.mobile" name="mobile" placeholder="Enter your phone number">
              <p *ngIf="mForm.submitted && mobile.hasError('required')" class="invalid-data">Mobile is required</p>
            </div>
            <!-- <div class="row">
              <div class="col-sm-5">
                <div class="form-group">
                  <span class="form-label">Pickup Date</span>
                  <input class="form-control" type="date" required>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <span class="form-label">Hour</span>
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <span class="form-label">Min</span>
                      <select class="form-control">
                        <option>05</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                        <option>25</option>
                        <option>30</option>
                        <option>35</option>
                        <option>40</option>
                        <option>45</option>
                        <option>50</option>
                        <option>55</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <span class="form-label">AM/PM</span>
                      <select class="form-control">
                        <option>AM</option>
                        <option>PM</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <input class="col-sm-1" type="checkbox" [(ngModel)]="customizeBooking" name="customizeBooking" class="customize-check"/><span style="color:#FFF">customize Booking</span>
            <div class="form-btn">
                <input type="submit" class="submit-btn" value="Book Now"/>
              </div>
              <div class="form-btn">
                  <button class="submit-btn" (click)="openHome()"> Back </button>
                </div>
                </form>
        </div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Sat 24/11</th>
                    <td *ngFor="let app of satApps" [ngClass]="{'booked' : app.isBooked}" class="table-item">
                        {{app.time | date:'HH:mm'}} <span class="radio-btn" *ngIf='!app.isBooked'><input type="radio" (change)="dateSelected(app.time)" name="date" [checked]="app.isBooked"/></span>
                      </td>  
                </tr>
                  <tr>
                      <th>Sun 25/11</th>
                      <td *ngFor="let app of sunApps" [ngClass]="{'booked' : app.isBooked}" class="table-item">
                          {{app.time | date:'HH:mm'}} <span class="radio-btn" *ngIf='!app.isBooked'><input type="radio" (change)="dateSelected(app.time)" name="date" [checked]="app.isBooked"/></span>
                        </td>  
                      </tr>
                    <tr>
                        <th>Mon 26/11</th>
                        <td *ngFor="let app of monApps" [ngClass]="{'booked' : app.isBooked}" class="table-item">
                            {{app.time | date:'HH:mm'}} <span class="radio-btn" *ngIf='!app.isBooked'><input type="radio" (change)="dateSelected(app.time)" name="date" [checked]="app.isBooked"/></span>
                          </td>  
                        </tr>
                      <tr>
                          <th>Tue 27/11</th>
                          <td *ngFor="let app of tueApps" [ngClass]="{'booked' : app.isBooked}" class="table-item">
                              {{app.time | date:'HH:mm'}} <span class="radio-btn" *ngIf='!app.isBooked'><input type="radio" (change)="dateSelected(app.time)" name="date" [checked]="app.isBooked"/></span>
                            </td>  
                        </tr>
                        <tr>
                            <th>Wed 28/11</th>
                            <td *ngFor="let app of wedApps" [ngClass]="{'booked' : app.isBooked}" class="table-item">
                                {{app.time | date:'HH:mm'}} <span class="radio-btn" *ngIf='!app.isBooked'><input type="radio" (change)="dateSelected(app.time)" name="date" [checked]="app.isBooked"/></span>
                              </td>  
                        </tr>
                          <tr>
                              <th>Thu 29/11</th>
                              <td *ngFor="let app of thuApps" [ngClass]="{'booked' : app.isBooked}" class="table-item">
                                  {{app.time | date:'HH:mm'}} <span class="radio-btn" *ngIf='!app.isBooked'><input type="radio" (change)="dateSelected(app.time)" name="date" [checked]="app.isBooked"/></span>
                                </td>  
                           </tr>
                            <tr>
                                <th>Fri 30/11</th>
                                <td *ngFor="let app of friApps" [ngClass]="{'booked' : app.isBooked}" class="table-item">
                                    {{app.time | date:'HH:mm'}} <span class="radio-btn" *ngIf='!app.isBooked'><input type="radio" (change)="dateSelected(app.time)" name="date" [checked]="app.isBooked"/></span>
                                  </td>  
                            </tr>
        
        </tbody>
      </table>
      <p *ngIf="mForm.submitted && dateNotSelected" class="invalid-data">Date is required</p>

      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      </div>
</div>
  