.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	transform: translateY(-50%);
}

#booking {
	font-family: 'Montserrat', sans-serif;
	background-image: url('../../assets/images/Optimized-fancycrave-254180-unsplash.jpg');
	background-size: cover;
    background-position: center;
    height: 1000px;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
}

.booking-form {
	max-width: 642px;
	width: 100%;
    margin: auto;
    margin-top: 83%
}

.booking-form .form-header {
	text-align: center;
	margin-bottom: 25px;
}

.booking-form .form-header h1 {
	font-size: 58px;
	text-transform: uppercase;
	font-weight: 700;
	color: #ffc001;
	margin: 0px;
}

.booking-form>form {
	background-color: #101113;
	padding: 30px 20px;
	border-radius: 3px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 15px;
}

.booking-form .form-control {
	background-color: #f5f5f5;
	border: none;
	height: 45px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 400;
	color: #101113;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #101113;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 5px;
	display: block;
	text-transform: uppercase;
}

.booking-form .submit-btn {
	color: #101113;
	background-color: #ffc001;
	font-weight: 700;
	height: 50px;
	border: none;
	width: 100%;
	display: block;
	border-radius: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.invalid-data {
    margin-top: 20px;
    color: #F00
}
.customize-check {
    margin-bottom: 10px
}
table {
    color: #FFF;
    margin-top: 50px;
}

.booked {
    background-color: #eee;
    color: #000;
}
.modalContainer {
	background-color: #FFF;
	.modal-body {
	  color: #ebb352;
	  font-size: 18pt;
	  text-align: center;
	  margin:10px;
	}
  }
/*
.radio-btn {
    position: absolute;
    right: 5px;
}
.table-item {
    position: relative;
}
.table {
    margin-top: 100px
}
.invalid-data {
    margin-top: 20px;
    color: #F00
}
.container {
    background-image: url('../../assets/images/Optimized-fancycrave-254180-unsplash.jpg');
}
*/